.root {
    :global {
        padding-top: 100px;

        .selected {
            background-color: #8ee359;
            color: white;
        }

        a {
            display: block;
            width: 25px;
            font-weight: bold;
            padding-left: 5px;
        }

        li {
            padding: 5px;
            list-style: none;
            border: 1px solid #8ee359;
            border-radius: 12px;
            width: 25px;
            cursor: pointer;

            &:hover {
                background-color: #8ee359;
                color: white;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 30px;

    }

}