.cart_content {
    padding: 30px;

    .back_button {
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid rgb(182, 180, 180);
        color: rgb(224, 214, 214);
        border-radius: 20px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
        width: 190px;
        padding: 7px;
        font-size: 15px;

        &:hover {
            background-color: #0b0b0a;
            color: white;
            transition-delay: 0.2s;
        }

    }

    .cart_header {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h1 {}

        .cart_icon {
            position: absolute;
            top: 35px;
            left: 130px;
        }
    }

    .cart_header_clear {
        .cart_clear {
            padding-right: 10px;
            cursor: pointer;
        }

        span {
            font-size: 16px;
        }
    }
}

.cart_footer {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.payment {
    text-align: center;
    padding-top: 60px;

    .button_pay {
        cursor: pointer;
        background-color: #8ee359;
        border: none;
        color: whitesmoke;
        border-radius: 20px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
        width: 170px;
        padding: 5px;
        font-size: 20px;
        height: 70px;

        &:hover {
            background-color: #7be23b;
            color: white;
            transition-delay: 0.2s;
        }
    }
}

// ______________CART ITEM_______________
.cart__item {
    display: flex;
    align-items: center;
    justify-content: baseline;
    align-content: center;
    gap: 50px;

    .cart__item_img {
        padding: 0;

        img {
            width: 120px;
        }
    }
}