.header {
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
  border-color: rgba(255, 255, 255, 0.8) !important;
  z-index: -1;
  &_logo {
    img {
      position: absolute;
      width: 30px;
      left: 130px;
    }
  }
}

.header a {
  text-decoration: none;
  color: black;
}

.header_cart {
}

.cart_button {
  width: 70px;
  background-color: #8ee359;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  padding: 5px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cart_button span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.cart_button i {
  margin-left: 7px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  line-height: 140%;
}

.cart_button:hover {
  cursor: pointer;
  background-color: #7be23b;
  color: white;
  transition-delay: 0.2s;
}
