.root {
  position: relative;
}

.input {
  width: 200px;
  border-radius: 1.5rem;
  padding: 15px;
  outline: none;
  border-color: green;
  font-size: 17px;
}

.icon {
  width: 30px;
  position: absolute;
  right: 15px;
  top: -40px;
  cursor: pointer;
  opacity: 0.2;

  &:hover {
    opacity: 0.8;
  }
}
