* {
  font-family: "Heebo", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: black;
}

.wrapper {
  height: 100%;
  margin: 30px auto;
  max-width: 1400px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.big-logo {
  width: 100%;
  margin: 0 auto;
}

.big-logo img {
  width: 100%;
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.categories ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.categories li {
  cursor: pointer;
  border: none;
  width: 150px;
  text-align: center;
  height: 30px;
  background-color: #8ee359;
  border-radius: 1.5rem;
  color: white;
  line-height: 170%;
}

.categories .active {
  color: white;
  font-weight: bold;
  background-color: #55962c;
}

.content-items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 10px;
}
